#post{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#cabecera{

    background-color: violet;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    box-shadow: -8px 9px 24px 4px rgba(125,77,227,0.79);
    -webkit-box-shadow: -8px 9px 24px 4px rgba(125,77,227,0.79);
    -moz-box-shadow: -8px 9px 24px 4px rgba(125,77,227,0.79);
}